*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Magra',
    sans-serif;
    font-family: 'Open Sans',
    sans-serif;
}
html {
    scroll-behavior: smooth;
}
body{
    background-color: #ebebeb;
}

.logo{
    flex-grow: 1;
    font-weight: 600;
    margin-left:  4rem;
}
.navbar{
    display: flex;
    height: 50px;
    background-color: #ccc;
    align-items: center;
}
.nav {
    flex-grow: 1;
}
.nav li{
    list-style: none;
}
.nav ul{
    display: flex;
    justify-content: space-around;
}
.nav a{
    display: flex;
    color: black;
    text-decoration: none;
}
.hero-img-section{
    display: flex;
    background-image: url(./pictures/background.png) , linear-gradient(rgba(0, 0, 0, .7), rgba( 0, 0, 0, .7));;
    background-size: cover;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ccc; 
    background-blend-mode: darken;
}
.hero-img-section h1{
    font-size: 3em;
    font-weight: 1600;
    text-align: center;
    margin:20px 0;
    color: #aaa;
    text-shadow: 2px 2px 3px #555;
}
.btn{
    padding: 16px;
    border-radius: 10px;
    cursor: pointer;
    margin:10px;
    text-decoration: none;

}
.green-btn{
    background-color: green;
    color: #fff;
    font-weight: 600;
    border:  2px solid green;
    transition: .3s;
}
.green-btn:hover {
    background-color: rgb(0, 82, 0);
}
.grey-btn{
    color: green;
    font-weight: 600;
    border: none;
    border: green 2px solid;

}
.grey-btn:hover {
    color: rgb(19, 151, 19);
}
.btn-container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}
/********** about me section*************/
.heading{
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-me-section{
    min-height: 100vh;
}
.about-me-container{
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.underline-design{
    background-color: green ;
    height: 10px;
    border-radius: 20px;
    width: 150px;
}
.about-me-content{
    height: 70vh;
    flex-grow:1;
    display: flex;
    justify-content: center;
    margin: 20px;
}
.about-me-content-text{
    background-color: #bbb;
    height: 400px;
    max-width: 400px;
    padding: 20px;
    font-size: 20px;
    transition: 1s;

}
.about-me-content-text:hover{
    transform: translateY(-20px);
}

.about-me-img{
    max-width: 400px;
    background-color: #bbb;

}

/************** Skills Section *************/
.skills-section{
    min-height: 100vh;
    background-color: #e0e0e0;
}
.skills-container{
    margin: 10%;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #d9d9d9;
    padding: 20px;
}
.skills-content-container{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ccc;
    margin: 20px 0;
}

.html{
    height: 20vh;
    background-color: #888;
    padding: 40px;
    box-sizing: content-box;
}
.css{
    height: 20vh;
    background-color: #888;
    padding: 40px;
    box-sizing: content-box;
}
.js{
    height: 20vh;
    background-color: #888;
    padding: 40px;
    box-sizing: content-box;
}
.skills-description{
    max-width: 200px;
    padding: 15px;
}
/************************* PROJECTSSSS ********************/
.projects-section{
    min-height: 100vh;
    background-color: #333;
    color: #eee;
}
.projects-container{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(400px , 2fr));
    grid-gap:10px;
    padding:1rem 4rem;
}
.project{
    position: relative;
    background-color: #444;
    max-width: 300px;
    padding: 0px 10px 10px 10px;
    transition: .1s;
}
.project:hover {
    transform: scale(1.1);

}
.project-directory{
    color:#fff;
}
.proj-img-container img {
    width: 100%;
}
